/*! Fonts */

@font-face {
    font-family: 'tiempos_headlineblack';
    src: url('tiempos_headline-black-webfont.woff2') format('woff2'),
         url('css/tiempos_headline-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-smooth: always;
  }
  
  @font-face {
    font-family: 'benton_sansregular';
    src: url('bentonsans-regular_sot-webfont.woff2') format('woff2'),
         url('css/bentonsans-regular_sot-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-smooth: always;
  }
  @font-face {
    font-family: 'benton_sansbold';
    src: url('css/bentonsans-bold_sot-webfont.woff2') format('woff2'),
         url('css/bentonsans-bold_sot-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-smooth: always;
  }


  /*! Font styles */
  body {
    width: 100vw;
    margin: 0;
  }
  h1 {
    font-family: 'tiempos_headlineblack', serif;
    font-size: 56px;
    color: black;
    margin-left: 12px;
    margin-right: 30px;
    }
  
  h2 {
    font-family: 'tiempos_headlineblack', serif;
    font-size: 22px;
    color: black;
    margin-left: 12px;
  }
  h3 {
    font-family: 'benton_sansregular', sans-serif;
    font-size: 16px;
    line-height: 34px;
    color: black;
  }
  .label {
    font-family: 'benton_sansregular', sans-serif;
    font-size: 16px;
    text-transform: uppercase; 
    padding-bottom: 50px;
    color: #294d58;
    margin-left: 12px;
  }
b {
    font-family: 'benton_sansbold', sans-serif;
  }

  h5 {
    font-family: 'benton_sansregular', sans-serif;
    font-size: 26px;
    margin-bottom: 12px;
    position: relative;
    color: rgb(78, 77, 77);
    }  
p {
    font-family: 'benton_sansregular', sans-serif;
    font-size: 16px;
    line-height: 34px;
    color: black;
    margin-left: 12px;
    text-wrap: balanced;
    }
p2 {
    font-family: 'benton_sansregular', sans-serif;
    font-size: 16px;
    line-height: 34px;
    color: rgb(255, 255, 255);
    text-wrap: balanced;
    }

.subhead {
    font-family: 'tiempos_headlineblack', serif;
    font-size: 26px;
    line-height: 34px;
    color: black;
    margin-left: 12px;
    margin-bottom: 20px;
    text-wrap: balanced;
}
subhead2 {
  color: #294d58;
  text-wrap: balanced;
}

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}
.fade-in.appear {
    opacity: 0;
}
.header {
      background-color: #ffffff;
      width: 100%;
      margin: 0;
}

  .headSea {
    max-width: 100%; 
    height: auto;
	  float: left;
    text-align: left;
    margin-left: 8%;
    margin-right: 10%;
    margin-bottom: 60px;
    margin-top: calc(6% + 10px);
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 10;
  }
  .ferryWrap {
    position: relative;
	  margin: 0 auto;
    width: 100%;
	  float: left;
    padding-top: 0px;
    padding-left: 7px;
    padding-right: 0px;
  }

  .ferry {
	  margin: 0 auto;
    max-width: 900px;
    width: 90%;
	  float: left;
    position: relative;
    top: 0px; 
    left: 0px;
    animation: rotation 4s linear infinite;
  }

  .whiteBox {
    position: relative;
    width: 100%;
    height: 8vh;
    background-color:white;
    z-index: -2;
  }

  .line{
    position: absolute;
    margin-top: 8vh;
    z-index: -1;
    width: 100%;
    overflow: hidden;
    height: 100%;
  }
  .line-1{
    opacity: 0.5;
    position: relative;
  }
  .line-2{
    opacity: 0.7;
  }
  .line-3{
    opacity: 0.7;
  }
  .line-4{
    opacity: 1;
  }

  .wave{
    position: absolute;
    left: 0;
    width: 100vw;
    height: 40%;
    background-repeat: repeat no-repeat;
    background-position: 0 top;
    transform: scale(4.0, 1.0);
    top: 0;
  }
  .wave1{
    background-size: 100vw;
    animation: animate 12s reverse infinite;
  }
  .wave2{
    background-size: 100vw;
    animation: animate 12s linear infinite;
  }
  .wave3{
    background-size: 100vw;
    animation: animate 12s linear infinite;
  }
  
  @keyframes animate {
    0% {
      background-position-x: 0;
    }
    100% {
      background-position-x: 100vw;
    }
    }

@keyframes rotation {
        0% {
          -webkit-transform: rotate(0deg);
        }
        25% {
          -webkit-transform: rotate(1deg);
        }
        50% {
          -webkit-transform: rotate(0deg);
        }
        75% {
          -webkit-transform: rotate(-1deg);
        }
        100% {
          -webkit-transform: rotate(0deg);
        }
      }
  
 
.button {
    border: none;
    color: white;
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: transparent; 
    color: rgb(255, 255, 255); 
    border: 2px solid #ffffff;
    margin-left: 40px;    
  }
  
  .button:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }
  #myDIV {
    width: 100%;
    text-align: left;
    display: none;
    padding-left: 40px;
    
  }  
  #myDIV2 {
    width: 100%;
    text-align: left;
    display: none;
    padding-left: 40px;
  }  
  #myDIV3 {
    width: 100%;
    text-align: left;
    display: none;
    padding-left: 40px;
  }  
  #myDIV4 {
    width: 100%;
    text-align: left;
    display: none;
    padding-left: 40px;
  }  
  #myDIV5 {
    width: 100%;
    text-align: left;
    display: none;
    padding-left: 40px;
  }  
  #myDIV6 {
    width: 100%;
    text-align: left;
    display: none;
    padding-left: 40px;
  }  
  #myDIV7 {
    width: 100%;
    text-align: left;
    display: none;
    padding-left: 40px;

  }  
  #myDIV8 {
    width: 100%;
    text-align: left;
    display: none;
    padding-bottom: 50px;
    padding-left: 40px;
  }  

  .flowChart {
    max-width: 930px; 
	  margin: 0 auto;
	  float: left;
    padding-top: 20px;
    padding-right: 119px;
    margin-left: 8%;
    text-align: left;
    font-family: 'benton_sansregular', sans-serif;
  }

  
  body {
    background-color: #294d58;
    background-image: linear-gradient(315deg, #294d58 10%, #839da5 100%);
    min-height: 100vh;
    margin: 0;
    padding-top: 0px;
  }

 .title{
    font-size: 24px;
    margin-bottom: 12px;
    padding-left: 40px;
    position: relative;
    color: white;
  }


  body .entries{
	margin: 0 auto;
	float: none;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: left;
  }

  body .flowChart .entry .title{
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 12px;
    position: relative;
    color: white;
    
  }
  .title:before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 3px solid #ffffff;
    background-color: #ff852b;
    border-radius: 100%;
    transform: translateY(-10%);
    top: 10%;
    left: 0%;
  }
  body:before{
    content: '';
    position: fixed;
    z-index: -1;
    top: 0px;
    left: calc(8% + 14px);
    bottom: 0;
    transform: translateX(-50%);
    width: 3px;
    background-color: white;
  }

  
  .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

  .footer {
    color: #294d58;
    font-family: 'benton_sansbold', sans-serif;
    font-size: 16px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: center;
 }
#arrow {
position: absolute;
margin-bottom: 100px;
animation: arrow 3s ease 2s 1 normal both;
}
 .arrowText {
  font-family: 'benton_sansregular', sans-serif;
  font-size: 18px;
  color: black;
 }

 @keyframes arrow {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(0px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}


.backButton {
  position: fixed;
  right: 0;
  width: 124px;
  font-family: 'benton_sansbold', sans-serif;
  font-size: 16px;
  color: white;
  margin-top: 30px;
  transition: 1s all ease;
  z-index: 300;
}

.backButton:hover {
  width: 270px;
}